<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated match -->
      <package
            uri="http://www.univaq.it/match"
            class="it.univaq.disim.mde.match.MatchPackage"
            genModel="model/match.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated match -->
      <package
            uri="http://www.univaq.it/editor"
            class="editor.EditorPackage"
            genModel="model/match.genmodel"/>
   </extension>

</plugin>
