<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MDE1819 -->
      <package
            uri="http://www.example.org/MDE1819"
            class="mde18-19.MDE1819.MDE1819Package"
            genModel="model/MDE1819.genmodel"/>
   </extension>

</plugin>
